html,
body,
#app {
  height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.upload-demo {
  align-self: flex-end;
}

.loginu .el-input__inner {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  height: 47px;
  padding: 0 40px;
  color: #ffffff;
  border: 0;
}

.Captcha input {
  padding: 0 !important;
}

li {
  list-style: none;
}

.el-table th.gutter {
  display: table-cell !important;
}

.infoCartd .el-card__body {
  padding: 0;
}

.el-menu--popup-right-start span {
  z-index: 1 !important;
}

.el-icon-arrow-right {
  display: none;
}

.el-input input {
  background-color: #fff !important;
  color: #5e5e9a !important;
}

@media screen and (max-width: 500px) {
  .loginFrom {
    width: 100% !important;
    padding: 0 20px !important;
    box-sizing: border-box;
  }
}
